.container{
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    background-color: #1976d2;
    margin-bottom: 1rem;
}
.BtnSelected{
    color:#03a9f4
}
.BtnDefault{
    color:white
}