.cell{
    border: 1px solid #1565c0;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    margin-top: 1rem;
}
.winner{
    grid-Column-Start: 1;
    grid-Column-End: 'span 3';
}